body {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  background: linear-gradient(
    to bottom,
    rgb(254, 214, 230),
    rgb(238, 213, 246),
    rgb(211, 232, 255)
  );
  min-height: 100vh;
  margin: 0;
}

header {
  padding: 30px;
}

.teaser {
  margin: 50px;
  font-style: italic;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  padding: 20px;
}

.button-grid button {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  background-color: #f7f3f7;
  border: none;
  border-radius: 10px;
  padding: 18px 12px;
  cursor: pointer;
}

.button-grid button:hover {
  color: rgb(206, 252, 237);
  background-color: rgb(255, 117, 227);
}